body {
  font-family: 'Nunito', sans-serif; /* Aesthetic font */
  background-color: #f8f9fa; /* Light background for easy reading */
}

.navbar-brand {
  font-weight: bold;
  color: #0056b3; /* Adjust color to fit your theme */
}

.main {
  padding: 20px;
}

.footer {
  background-color: #f8f9fa; /* Matches body for a seamless look */
  color: #212529;
}

/* Add more custom styling as needed */
